@font-face{
    font-family: "BebasNeue";
    src: url("./font/BebasNeue-Regular.ttf");
}

main p {
    font-family: Bebas Neue;
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    font-family:BebasNeue;
}

.conteneur {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

.conteneur img {
    width: 100%; /* Assure que l'image occupe toute la largeur du conteneur */
    max-width: 100%; /* Evite que l'image dépasse */
    height: auto; /* Garde les proportions de l'image */
    box-sizing: border-box; /* Inclut les bordures dans les dimensions de l'image */
}

/* Responsive */
@media (max-width: 1024px) {
    .conteneur {
        max-width: 90%; /* Utilise une largeur relative pour occuper l'espace disponible */
        padding: 8px; /* Réduction de la marge intérieure */
    }
}

@media (max-width: 768px) {
    .conteneur {
        max-width: 95%; /* Réduction supplémentaire pour petits écrans */
        text-align: center; /* Recentre le contenu pour une meilleure lisibilité */
    }
}

@media (max-width: 480px) {
    .conteneur {
        max-width: 100%; /* Pleine largeur pour les mobiles */
        padding: 5px; /* Réduction des marges */
        font-size: 0.9rem; /* Taille de texte légèrement réduite */
    }
}
