/* STYLES */

:root {
    --primary-color: rgb(0, 94, 255);
    --primary-hover-color: #3b7e9a;
    --text-color: #829191;
    --background-color: #5c5c5c;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--background-color);
    height: 100%;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

main a {
    color: var(--primary-color);
}

main a:hover {
    color: var(--primary-hover-color);
}

article {
    margin-bottom: 3rem;
}

article h3 {
    color: var(--text-color);
    font-size: 1.5rem;
}

/* Responsive */
@media (max-width: 1024px) {
    main {
        padding: 1.5rem;
    }

    main h1 {
        font-size: 2rem;
    }

    main p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    article h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    main h1 {
        font-size: 1.8rem;
    }

    main h2 {
        font-size: 1.4rem;
    }

    main p {
        font-size: 0.95rem;
    }

    article {
        margin-bottom: 2rem;
    }

    article h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    main {
        padding: 0.8rem;
    }

    main h1 {
        font-size: 1.5rem;
    }

    main h2 {
        font-size: 1.2rem;
    }

    main p {
        font-size: 0.9rem;
        line-height: 1.6;
    }

    article {
        margin-bottom: 1.5rem;
    }

    article h3 {
        font-size: 1rem;
    }
}
