footer {
    background-color: #161925;
    color: #829191;
    text-align: center;
    padding: 0;
    margin-top: auto; /* Footer poussé en bas */
    position: relative;
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    color: rgb(87, 87, 87);
    text-decoration: none;
}

footer a:hover {
    color: #ff9900;
}


/* Responsive */
@media (max-width: 768px) {
    footer {
        padding: 0.5rem 0.2rem;
    }

    footer p {
        font-size: 0.9rem;
    }

    footer a {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 0.5rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    footer a {
        font-size: 0.8rem;
    }
}