/* Variables */
:root {
    --header-background-color: #333;
    --header-text-color: #fff;
    --header-title-color: lightgreen;
    --nav-link-color: white;
    --nav-link-hover-background: #555;
    --nav-link-font-size: 1.2rem;
    --burger-color: white;
    --font-harry-potter: "HarryPotter";
}

/* @font-face */
@font-face {
    font-family: "HarryPotter";
    src: url("./font/harry_potter.ttf");
}

/* STYLES */

header h1 {
    font-family: var(--font-harry-potter);
    color: var(--header-title-color);
    font-size: 2.5rem;
    margin-top: 0;
}

html, body {
    height: 100%;
}

header a {
    display: inline-block;
    text-decoration: none;
}

header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: 1rem 0;
    text-align: center;
    position: relative; /* Pour positionner le bouton burger */
}

header h1 {
    margin: 0;
    color: var(--header-title-color);
}

/* Navigation Styles */
nav {
    margin-top: 1rem;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    transition: max-height 0.3s ease-in-out; /* Animation pour afficher/cacher le menu */
    overflow: hidden;
    max-height: 100px; /* Hauteur normale */
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: var(--nav-link-font-size);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--nav-link-hover-background);
}

/* Menu Burger */
.burger {
    display: none; /* Caché par défaut */
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    width: 25px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.burger div {
    background-color: var(--burger-color);
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        max-height: 0; /* Cache le menu par défaut */
    }

    nav ul.show {
        max-height: 300px; /* Affiche le menu lorsqu'il est activé */
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    nav ul li a {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }

    /* Bouton burger */
    .burger {
        display: flex; /* Afficher le bouton burger */
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem 0;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.3rem 0;
    }

    nav ul li a {
        font-size: 0.9rem;
        padding: 0.3rem 0.6rem;
    }
}
