/* Variables */
:root {
    --main-max-width: 80%;
    --main-margin: 5%;
    --link-color: rgb(39, 39, 171);
    --font-family: Arial, sans-serif;
}

/* Styles */
body main, h1 {
    font-family: var(--font-family);
    text-align: left;
}

main a {
    color: var(--link-color);
}

main {
    max-width: var(--main-max-width);
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
}
