/* Styles pour les images */
main section ul li {
    display: inline-block;
}

main img#vignette {
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: azure;
    box-shadow: 6px 6px 4px 2px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
}

main img#vignette:hover {
    transform: scale(1.02) rotate(-4deg);
}

/* Styles pour les modals */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
    /* border-radius: 10px; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.modal:target {
    display: flex;
}

.modal:target ~ * {
    filter: blur(5px);
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.modal .close:hover {
    background-color: rgba(0, 0, 0, 0.9);
}


/* Responsive */
@media (max-width: 768px) {
    main img#vignette {
        width: 90%;
        border-width: 2px;
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
    }

    .modal img {
        max-width: 90%;
        max-height: 70%;
    }

    .modal .close {
        font-size: 1.5rem;
        padding: 4px 8px;
    }
}

@media (max-width: 480px) {
    main img#vignette {
        width: 100%;
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    }

    .modal img {
        max-width: 95%;
        max-height: 65%;
    }

    .modal .close {
        font-size: 1.2rem;
        padding: 3px 6px;
    }
}